In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import matplotlib.pyplot as plt
import requests
%matplotlib inline
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-04-05 17:31:14,-24.8667,113.6333,75.20,88,99,12.66
1,1,Ilanskiy,RU,2021-04-05 17:31:14,56.2358,96.0650,29.80,96,100,1.99
2,2,Mandurah,AU,2021-04-05 17:31:15,-32.5500,115.7000,64.99,79,2,4.07
3,3,Vaini,TO,2021-04-05 17:27:24,-21.2000,-175.2000,64.40,100,20,2.30
4,4,Parabel,RU,2021-04-05 17:31:15,58.6978,81.4825,34.75,88,100,12.64

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of winde speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-04-05 17:31:14,-24.8667,113.6333,75.20,88,99,12.66
7,7,Rio Grande,BR,2021-04-05 17:31:16,-32.0350,-52.0986,80.60,65,40,16.11
8,8,Butaritari,KI,2021-04-05 17:27:18,3.0707,172.7902,81.90,78,97,12.01
17,17,Cabo San Lucas,MX,2021-04-05 17:29:36,22.8909,-109.9124,86.00,21,1,10.36
20,20,Puerto Ayora,EC,2021-04-05 17:30:08,-0.7393,-90.3518,82.40,74,20,9.22
22,22,Namatanai,PG,2021-04-05 17:31:20,-3.6667,152.4333,77.76,87,100,3.47
23,23,Arraial Do Cabo,BR,2021-04-05 17:27:20,-22.9661,-42.0278,82.40,54,40,8.05
26,26,Pimentel,PE,2021-04-05 17:31:21,-6.8367,-79.9342,82.40,51,75,16.11
28,28,Rocha,UY,2021-04-05 17:31:22,-34.4833,-54.3333,78.62,58,28,10.36
34,34,Bambous Virieux,MU,2021-04-05 17:27:36,-20.3428,57.7575,81.00,78,75,10.36

In [12]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0         Carnarvon      AU     75.20 -24.8667  113.6333
7        Rio Grande      BR     80.60 -32.0350  -52.0986
8        Butaritari      KI     81.90   3.0707  172.7902
17   Cabo San Lucas      MX     86.00  22.8909 -109.9124
20     Puerto Ayora      EC     82.40  -0.7393  -90.3518
22        Namatanai      PG     77.76  -3.6667  152.4333
23  Arraial Do Cabo      BR     82.40 -22.9661  -42.0278
26         Pimentel      PE     82.40  -6.8367  -79.9342
28            Rocha      UY     78.62 -34.4833  -54.3333
34  Bambous Virieux      MU     81.00 -20.3428   57.7575

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Carnarvon,AU,75.20,-24.8667,113.6333,Hospitality Carnarvon
7,Rio Grande,BR,80.60,-32.0350,-52.0986,Hotel Atlântico Rio Grande
8,Butaritari,KI,81.90,3.0707,172.7902,Isles Sunset Lodge
17,Cabo San Lucas,MX,86.00,22.8909,-109.9124,Hotel Tesoro Los Cabos
20,Puerto Ayora,EC,82.40,-0.7393,-90.3518,Finch Bay Galapagos Hotel
22,Namatanai,PG,77.76,-3.6667,152.4333,Namatanai Hotel
23,Arraial Do Cabo,BR,82.40,-22.9661,-42.0278,Pousada Porto Praia
26,Pimentel,PE,82.40,-6.8367,-79.9342,Casona Del Muelle
28,Rocha,UY,78.62,-34.4833,-54.3333,Beleza Pura B&B
34,Bambous Virieux,MU,81.00,-20.3428,57.7575,Casa Tia Villa

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))